@page "/SubElementAdd"
@page "/SubElement/edit/{Id:int}"
@using MudBlazor;
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>SubElement Add</h3>

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using eastnetic.Shared.DTO;
@using eastnetic.Shared.Model;
@using static System.Net.WebRequestMethods;

<MudCard>
	<MudForm Model="@model" @ref="@form">
		<MudCardContent>
            <MudSelect @bind-Value="model.WindowId"
                       For="@(() => model.WindowId)"
                       T="int" Label="Window" AnchorOrigin="Origin.BottomCenter">
                @foreach (WindowDto order in WindowList)
                {
                    <MudSelectItem Value="@order.Id">@order.Name</MudSelectItem>
                }
            </MudSelect>
            <MudTextField @bind-Value="model.Element"
                          For="@(() => model.Element)"
						  Immediate="true"
                          Label="Element"
                          Required="true" 
                          RequiredError="Element name is required!" />
            <MudTextField @bind-Value="model.Type"
                          For="@(() => model.Type)"
                          Immediate="true"
                          Label="Type"
                          Required="true"
                          RequiredError="Type State is required!" />
            <MudTextField @bind-Value="model.Height"
                          For="@(() => model.Height)"
                          Immediate="true"
                          Label="Height"
                          Required="true"
                          RequiredError="Height State is required!" />
            <MudTextField @bind-Value="model.Width"
                          For="@(() => model.Width)"
                          Immediate="true"
                          Label="Width"
                          Required="true"
                          RequiredError="Width State is required!" />
		</MudCardContent>
	</MudForm>
	<MudCardActions>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Add SubElement</MudButton>
	</MudCardActions>
</MudCard>


@code {
    [Parameter]
    public int Id { get; set; }
    protected string Title = "Add";
    MudForm form;

    SubElementDto model = new SubElementDto();
    List<WindowDto> WindowList = new List<WindowDto>();

    protected override async Task OnInitializedAsync()
    {
        WindowList = await Http.GetFromJsonAsync<List<WindowDto>>("api/Window");
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            Title = "Edit";
            model = await Http.GetFromJsonAsync<SubElementDto>("api/SubElement/" + Id);
        }
    }

    private async Task Submit()
    {
        await form.Validate();
        if (form.IsValid)
        {
            if (model.Id != 0)
            {
                await Http.PutAsJsonAsync("api/SubElement", model);
            }
            else
            {
                await Http.PostAsJsonAsync("api/SubElement", model);
            }
            Cancel();
        }
    }
    
    public void Cancel()
    {
        NavigationManager.NavigateTo("/SubElements");
    }
}
